<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

    <bean id="car" class="com.nsgacademy.Car">
<!--        <property name="battery" ref="bat"/>-->
<!--        <property name="engine" ref="en"/>-->
<!--        <property name="tyre" ref="ty"/>-->

<!--        <constructor-arg type="Engine" ref="en"/>-->
<!--        <constructor-arg type="Battery" ref="bat"/>-->
<!--        <constructor-arg type="Tyre" ref="ty"/>-->

        <constructor-arg index="1" ref="en"/>
        <constructor-arg index="0" ref="bat"/>
        <constructor-arg index="2" ref="ty"/>

    </bean>

    <bean id="bat" class="com.nsgacademy.Battery"></bean>

    <bean id="ty" class="com.nsgacademy.Tyre"></bean>

    <bean id="en" class="com.nsgacademy.Engine"></bean>

</beans>